.ant-segmented {
  background-color: #f5f5f5 !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #e8e0e0 !important;
}

.ant-segmented-item-selected {
  background-color: #fff !important;
  color: #7b1c1c !important;
  font-weight: 600;
}

.ant-segmented-thumb {
  background-color: #fff !important;
}
